name: Deploy Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Terraform Init
      run: terraform init
      working-directory: project/infrastructure

    - name: Terraform Apply
      run: terraform apply -auto-approve
      working-directory: project/infrastructure
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    - name: Install Ansible
      run: |
        sudo apt-get update
        sudo apt-get install -y ansible
    - name: Set up SSH key
      run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H 3.250.239.214 >> ~/.ssh/known_host.ini

    - name: Run Ansible Playbook
      env:
          ANSIBLE_PRIVATE_KEY_FILE: ~/.ssh/id_rsa
          ANSIBLE_USER: ec2-user
          ANSIBLE_HOST_KEY_CHECKING: false
      run: |
          ansible-playbook -i project/configuration/host.ini project/configuration/playbook.yml
